/* body {
  margin: 0;
  padding-bottom: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

#msgForm {
  background: rgba(86, 181, 245, 0.384);
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
.inputBox {
  padding: 0.5rem;
  color: rgb(0, 0, 0);
  justify-content: center;
}

input {
  border: none;
  padding: 0.5rem;
  flex-grow: 1;
  border-radius: 0.5rem;
  width: 600px;
}
input:focus {
  outline: none;
}
.sendBtn {
  background: rgb(17, 111, 219);
  font-size: 1rem;
  border: none;
  padding: 0.1rem 2rem;
  border-radius: 0.5rem;
  outline: none;
  margin-left: 1rem;
  color: #fff;
}

#messages {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1.1rem;
}
#messages > div {
  padding: 0.5rem 1rem;
}
#messages > div:nth-child(odd) {
  background: #efefef;
}

.label {
  margin-right: 2rem;
  font-size: 1.2rem;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.title {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
  color: rgb(1, 82, 28);
  padding: 1rem;
}

.chatTitle {
  font-size: 1.3rem;
  padding: 1rem;
  color: blue;
}

#chatIO {
  max-width: 600px;
  border: 1px solid black;
  margin: 2rem auto;
  border-radius: 0.5rem;
}

#chatWindow {
  height: 400px;
  width: 100%;
  overflow: auto;
  background-color: rgb(214, 214, 214);
}
#outPut p {
  padding: 1rem;
  margin: 5px 10px;
  border: 1px solid #f9f9f9;
  color: #555;
}

#outPut strong {
  color: blue;
}

input {
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border: 1px solid #eee;
  font-size: 1.2rem;
}
#feedback p {
  color: #555;
  padding: 1rem;
  margin: 5px 10px;
}
button {
  color: rgb(255, 255, 255);
  background: rgb(0, 66, 189);
  font-size: 1.4rem;
  padding: 1rem;
  text-align: center;
  width: 100%;
}
